/* Colors */
$black: #000 !default;
$white: #FFF !default;

$background-color: #F1F3F9 !default;
$green-color: #5BCB34 !default;
$grey-color: #7B839A !default;

$button-colors: (
    'save' #017AAF #005275,
    'check' #023955 #001d29,
    'remove' #E2002E #99001f,
)
