/* Colors */
$black: #000;
$white: #FFF;

$background-color: #F1F3F9;
$green-color: #5BCB34;
$green-color-hovered: rgb(49, 146, 17);
$grey-color: #7B839A;
$red-color: #E2002E;
$red-color-hovered: rgb(160, 0, 32);
$checkmark-box-shadow: #b4e4f8;
$checkmark-border: #E4E7F1;
$text-default: #616161;
$link-color: #395669;
$link-background: #d7dae4;

$button-colors: (
    'save' #017AAF #005275,
    'check' #023955 #001d29,
    'remove' #E2002E #99001f,
)
