/* Colors */
$black: #000 !default;
$white: #FFF !default;

$background-color: #F1F3F9 !default;
$blue-color: #017AAF !default;
$dark-blue-color: #023955 !default;
$red-color: #E2002E !default;
$green-color: #5BCB34 !default;
$grey-color: #7B839A !default;